#header
  h1 mu:sync

#main-content-box
  h1#counter

script(type='text/javascript')

  var serverTime = 0;
  var localTime = 0;
  var timeDiff = 0;

  $(document).ready(function() {

    now.receiveTime = function(time) {
      serverTime = time;
      localTime = (new Date).getTime();
      timeDiff = localTime - serverTime;
    };

    now.ready(function() {
      now.getTime();
    });

    increment = function() {
      serverTime++;
      localTime++;
      $("#counter").html('' + serverTime + ' + ' + timeDiff);
    }
    setInterval(increment, 100);

  });
