#header
  h1 mu:sync

#main-content-box
  h1#counter

script(type='text/javascript')

  var serverTime = 0;
  var localTime = 0;
  var timeDiff = 0;

  $(document).ready(function() {

    now.receiveTime = function(time) {
      timeDiff = ((new Date).getTime() - localTime) / 2;
      serverTime = time + timeDiff;
    };

    now.ready(function() {
      localTime = (new Date).getTime();
      now.getTime();
    });

    increment = function() {
      serverTime += 100;
      $("#counter").html('' + serverTime + ' + ' + timeDiff);
    }
    setInterval(increment, 100);

  });
