#header
  h1 mu:sync

#main-content-box
  h2#song-title Nicolas Jaar: Waterfalls
    #player
      a(href='http://soundcloud.com/dodus_afarensis/nicolas-jaar-live-fall-08', class='sc-player')

script
  $('.sc-player').scPlayer({
    autoPlay  :   true
  });
