h1= title
p Welcome to #{title}

script(type='text/javascript', src='http://code.jquery.com/jquery-1.5.min.js')
script(type='text/javascript', src='/nowjs/now.js')

div#messages

form(action='#')
  textarea#text-input

  input#send-button(type='submit')


script(type='text/javascript')
  //now.name = prompt("What's your name?", "");
  now.receive = function(message){
    $("#messages").append(message);
  }
  $("#send-button").click(function(){
    now.distribute($("#text-input").val());
    return false;
  });
