!!!
html
  head
    title m[:u]sync - Your Music Synced in the Crowd

    link(rel="stylesheet", href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css", type="text/css")
    link(rel='stylesheet', href='/stylesheets/style.css', type="text/css")
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.4.2.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
  body
    #header
      h1 m[:u]sync - Your Music Synced in the Crowd

    #main-content-box
      != body
