//http://soundcloud.com/frohlocker/caterina-valente-ich-h-tt-getanzt-heut-nacht-frohlocker-remix
//http://soundcloud.com/renegadesofjazz/kid-loco-the-passenger
.header Share this URL to with others:
form(action="/" + code)
  input(name="url",
        class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c",
        value=url + '/' + code)

  div(data-theme="c", class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c")
    span(class="ui-btn-inner ui-btn-corner-all")
      span(class="ui-btn-text") Go and start playing
    input(name="create", type="submit", value="Go and start playing", class="ui-btn-hidden")
