html, body {
  margin: 0;
  padding: 0;}

body {
  background-color: black;
  background-image: url(/images/trees.jpg);
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font: 14px "Myriad Pro", Helvetica, Tahoma, Arial, sans-serif;}

#header {
  margin: 0;
  padding: 5px 0 5px 0;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid #333;
  -moz-box-shadow: 5px 5px 5px black;;
  -webkit-box-shadow: 5px 5px 5px black;;
  box-shadow: 5px 5px 5px black;;}
#header h1 {
  color: white;
  text-align: center;}

#main-content-box {
  width: 630px;
  border: 1px solid #333;
  background-color: white;
  margin: 100px auto 0 auto;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 25px;}

.scPlayer, .scPlayerEmbed {
  width: 100%;
  height: 81px;}

a {
  color: #00B7FF;}
